LINUX_USERNAME=changeme
DISTRO=Ubuntu-24.04
WSL_DISK_SIZE=128GB
WSL_PROCESSORS=10
WSL_MEMORY=16GB
WSL_SWAP=4GB
WSL_USER_WAIT_TIMEOUT_SECONDS=1800
SSH_PORT=1337
EXPOSED_TCP_PORTS=8080,8443
FIREWALL_PROFILE=Private
K3D_VERSION=v5.9.0
HELM_VERSION=v3.21.4
KUBECTL_VERSION=v1.35.5
